html, body, main{
    height: 100%;
    background-color: rgb(25,25,25);
    margin: 0;
}

header{
    background-color: blueviolet;
    height: 300px;
    overflow: hidden;
    position: relative; /* 이거 차이로 이미지 클리핑이 되고 안됨 */
}

p{
    color: #BDBDBD;
    margin: 0px;
}

.div_area{
    margin-bottom: 15px;
}

.p_title{
    font-size: 30px;
}

#div_content{
    width: 50%;
    height: 100%;
    margin: 0px auto;
}

#img_title{
    width: 100%;
    transform: translate(0, -40%);
}
